# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

-NOTE: In SQL, white spaces are meaningless

In [16]:
#Your code here
# by default, order by is ascending. if want to order descending, write DESC after column name
query = """
SELECT 
    employees.firstName
,   employees.lastName
,   offices.city
,   offices.state
FROM
    employees JOIN offices
ON employees.officeCode = offices.officeCode\
ORDER BY
    employees.firstName
,   employees.lastName
"""

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [17]:
# Your code here
result = cur.execute(query)

OperationalError: near "BY": syntax error

In [ ]:
#this is the same as above, to demonstrate logic of the cursor
result_data = []

wjile True:
    try:
        row = next(result)
        result_data.append(row)
        except StopIteration:
            break

In [ ]:
#this is the same as above, to demonstrate the logic of the cursor
result_data = []
for row in result:
    result_data.append(row)

Note: it returns a generator ?

In [13]:
result.description

(('firstName', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [14]:
result_data = list(result)

In [15]:
len(result_data)

23

In [ ]:
# don't do this, do the next thing (they do the same thing, the present is elegant but unclear,
#the next is less cool but more clear)
list(zip(*result.description))[0]

In [ ]:
columns = [row[0] for row in result.description]

In [8]:
next(result)

('Diane', 'Murphy', 'San Francisco', 'CA')

In [ ]:
list(zip)

In [ ]:
pd.DataFrame(result_data, columns=columns)

### generators

- what is returned above is a generator object. generators

In [18]:
type(range(0,10))

range

In [ ]:
# python 2 gewnerator
def py2_range3(start, stop):
    """Return a list of all integers between start and stop."""
    result = []
    i = start
    while i < stop:
        result.append(i)
        i += 1
    return result

In [ ]:
# python 3 generator
# Note - "yield" expects to keep giving to you
def py3_range(start, stop):
    """Yield each integer between start and stop."""
    i = start
    while i < stop:
        yield i
        i += i

In [ ]:
g = range(0, 100)

In [ ]:
next(iter(g))

In [ ]:
ERD (entity relationship diagram), is the type of diagram above

In [ ]:
#
query =

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!